*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*	default gradient background*/
	background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 90.6%);
	/*	Add background properties for uploaded images*/
	background-position: center;
	background-size: cover;
	/* Smooth transition for background changes */
	transition: background 0.5s ease;
	font-family: 'Montserrat';
	color: #aad9ec;
	text-align: center;
}

.percentage-show{
	display: block;
	margin-top: -30px;
	margin-bottom: 70px;
	margin-right: 0;
	padding: 10px;
}

/* font-family: '7LED italic', sans-serif;
font-family: '7LED', sans-serif; */

.overlay{
	width: 100%;
	min-height: 100vh;
	justify-items: center;
	padding-top: 5%;
	padding-bottom: 1%;
	background: none;
	position: absolute; 
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.header{
	font-size: 45px;
	font-weight: bold;
	text-align: center;
}

/* side navigation styles */
.right-side-nav{
	position: fixed;
	right: 0;
	top: 49%;
	transform: translateY(-50%);
	background: 20px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 1000;
}

.right-side-nav .box ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin-top: 30px;
	flex-wrap: nowrap;
	gap: 5px;
	padding: 0;
	margin-right: 5%;
	margin-top: auto;
}

.right-side-nav .box li{
	margin: 20px 0;
}

/* .right-side-nav .box button{ */
	/* margin: 0; */
/* } */
.right-side-nav .box button, .right-side-nav .box label{
	display: block;
	width: 150px;
	padding: 19px 13px;
	background: rgba(110, 127, 132, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: #87CEEB;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 18px;
	font-weight: bold;
	font-family: 'montserrat';
}

#closeNav{
    right: 20px;
    margin-top: -50%;
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease;
}

.right-side-nav .box button:hover, 
.right-side-nav .box li label:hover,
.showTitleInput button:hover{
	background-color: #355d6c;
	color: aquamarine;
	transition: all 0.3s ease;
}

/* display none the mobile buttons  */
.mobile-box{
	display: none;
}

.showTitleInput{
	margin-top: -4%;
}

.showTitleInput input[type="text"]{
	width: 300px;
	height: 50px;
	border: 1px solid aqua;
	color: #fff;
	border-radius: 10px;
	background: none;
	text-align: center;
}

.showTitleInput button{
	width: 150px;
	height: 50px;
	border: 1px solid #87CEEB;
	color: #87CEEB;
	border-radius: 10px;
	background: none;
}

/*Container for the upload section*/
.upload-container{
	background: rgba(0,0,0,0.5);
	padding: 20px;
	border-radius: 10px;
	margin: 20px;
	max-width: 400px;
}

.timer-container{
	background: rgba(0,0,0,0.9);
	padding: 2%;
	border-radius: 15px;
	margin: 40px;
	margin-top: -3px;
	max-width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin-right:120px;
}

/*timeup container style*/
.timeup-container{
	background: rgba(235, 10, 10, 0.77);
	padding: 5%;
	border-radius: 15px;
	margin: 10px;
	width: 50%;
	height: 55vh;
	display: none;
	margin-right:120px;
}

.timeup-container h1{
	font-size: 10em;
    font-weight: bold;
    color: #fff;
	font-family:'Digital-7';
}

.timer-container .time{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px;
	font-size: 200px;
	font-weight: bold;
	color: #87CEEB;
}

.timer-container .timerP{
	display: flex;
	font-size: 40px;
	align-items: center;
	justify-content: space-between;
	margin-right: 30px;
	/* font-family: '7LED italic'; */
}

.timer-container .timerCounter{
	display: flex;
	justify-content: center;
	align-items: center;
}

.timer-container .timerCounter input[type="number"]{
	text-align: center;
	font-size: 290px;
	background: none;
	border: 1px solid #87ebda;
	border-radius: 10px;
	width: 30%;
	padding: 0;
	margin-right: 10px;
	font-family: 'Digital-7';
}

 /* timer font size for large displays */
@media screen and (min-width: 1920px){
	.timer-container .time{
		font-size: 200px;
	}
}

/* make timer responsive */
@media screen and (min-width: 1366px){
	.timer-container .time{
		font-size: 150px;
	}
}

.start-btn, .timereset-btn{
	margin-top: 3%;
	width: 150px;
	height: 50px;
	border: 1px solid #87CEEB;
	color: #87CEEB;
	border-radius: 10px;
	background: none;
	font-weight: bold;
	font-size: 19px;
}

.start-btn:hover, .timereset-btn:hover{
	background-color: #355d6c;
	color: aquamarine;
}

.logo-container{
	margin-left: 10px;
	margin-top: -45px;
	width: 100px;
	height: 100px;
	position: fixed;
}

.logo-container img{
	max-width: 100%;
    max-height: 100%;
	display: none;
}

.logo-container input[type='file']{
	width: 150px;
	height: 50px;
	border: 1px solid #87CEEB;
	color: #87CEEB;
	border-radius: 10px;
	background: none;
	border-radius: 10px;
}

/*styles for the input*/
.file-input{
	display: none;
}

.reset-btn:hover{
	background: rgba(255, 255, 255, 0.3);
	transform: scale(1.06);
}

/*style for the selected filename display*/
.file-name{
	margin-top: 10px;
	font-size: 14px;
	word-break: break-all;
}

